@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    color: white;
}

body,html{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    background-color: #001719;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 17px;
}

.nav .start{
    padding-left: 20px;
}

.main1{
    height: calc(100% - 45px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main1 h1{
    font-size: 60px;
    font-weight: 600;
}

.main h2{
    font-size: 30px;
    font-weight: 500;
}

.main1 h4{
    font-weight: 500;
    padding-top: 10px;
}

.main2{
    height: 100%;
    width: 100%;
    background-color: #001719;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.main2 img{
    height: 250px;
    border-radius: 20px;
}

.main2 .starters{
    width: 400px;
}

.main2 .maincourse{
    width: 400px;
}

.main2 .desert{
    width: 400px;
}

.main2 button{
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
}

.main3{
    height: 100%;
    width: 100%;
    background-color: #001719;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.main3 img{
    height: 250px;
    border-radius: 20px;
}

.main3 .cocktail{
    width: 400px;
}

.main3 .mocktail{
    width: 400px;
}

.main3 .harddrink{
    width: 400px;
}

.main3 button{
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
}